<div class="center hero-unit">
  <h1>Z-Client</h1>

  <h2>
    This is the Home Page for the new Z-Client Application
  </h2>

  <%= link_to "<i class=\"icon-pencil icon-white\"></i> Sign Up Now!".html_safe, signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>