<footer class="footer">
  <small>
    <%= link_to image_tag("zyantus-icon.png", alt: "Zyantus Inc"), 'http://www.zyantus.com/' %>
    <b>Zyantus Inc.</b> &copy; <%=Time.now.year %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>

